<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ADK - Wypożyczalnia Kostiumów</title>

    <!-- Bootstrap core CSS -->
    <link href="https://startbootstrap.github.io/startbootstrap-shop-homepage/vendor/bootstrap/css/bootstrap.min.css"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://startbootstrap.github.io/startbootstrap-shop-homepage/css/shop-homepage.css" rel="stylesheet">

    <!-- My own CSS -->
    <link href="/style.css" rel="stylesheet" type='text/css'/>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">ADK Wypożyczalnia Kostiumów</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Strona główna</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/costumes">Kostiumy</a>
                    <span class="sr-only">(current)</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">O nas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/rentForm">Kontakt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Zaloguj się</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div th:each="costume : ${costumes}" class="col-lg-4 col-md-6 mb-4 mt-4">
            <div class="card h-100">
                <a class="h-100" th:href="@{'/costume/' + ${costume.id}}"><img class="card-img-top"
                                                                               th:src="${costume.imageUrl}"
                                                                               src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a th:href="@{'/costume/' + ${costume.id}}" th:text="${costume.name}">j</a>
                    </h4>
                    <h5>Cena: <span th:text="${costume.formattedPrice}"></span></h5>
                    <p class="card-text">Rodzaj: <span th:text="${costume.sex}">Male</span>, Rozmiar: <span
                            th:text="${costume.size}">L</span></p>
                    <br>
                </div>
                <div class="card-footer">
                    <a th:if="${costume.borrowedTill == null}" href="/rentForm" role="button" class="btn btn-primary btn-lg btn-block">ZAMÓW</a>
                    <a th:if="${costume.borrowedTill != null}" href="#" role="button" class="btn btn-primary btn-lg btn-block disabled">NIEDOSTĘPNY</a>
                </div>
            </div>

        </div>
        <!-- /.col-lg-4 -->
        <div class="row my-3 w-100 align-item-center justify-content-center">
            <ul class="nav nav-pills">
                <li class="nav-item" th:each="PageNumber : ${#numbers.sequence(0,costumes.totalPages-1)}">
                    <a class="nav-link"
                       th:href="@{/costumes(page=${PageNumber})}"
                       th:text="${PageNumber}"
                       th:classappend="${currentPage}==${PageNumber}?'active':''"></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark fixed-bottom">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; ADK Wypożyczalnia kostiumów 2020</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="https://startbootstrap.github.io/startbootstrap-shop-homepage/vendor/jquery/jquery.min.js"></script>
<script src="https://startbootstrap.github.io/startbootstrap-shop-homepage/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>